.add-container {
  background-color: blue;
}

.page-container {
  background-color: rgb(255, 255, 255);
  width: 100%;
}

.title-container h1 {
  line-height: 40px;
  font-size: 30px;
}

.text-container {
  background-color: rgb(255, 255, 255);
  color: rgb(71, 71, 71);
  text-indent: 20px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  line-height: 30px;
  width: 100%;
}

.page-add-container {
  background-color: rgb(252, 252, 252);
}
