.header {
  background-color: hsl(197, 97%, 71%);
  position:static;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

input {
  width: 30px;
}

.ul-menu {
  display: flex;
  margin: ;
}

.ul-menu li {
  margin: 3px;
  text-decoration: none;
  list-style: none;
  font-size:15px;
}

.login {
  width: 30px;
  margin: 10px;
  font-size: 10px;
}





.main {
  background-color: rgb(255, 255, 255);
  
}


.last-news {
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  
}

.news-container {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 60%;
  margin: 10px 0px;
}

.img-link {
  border-radius: 10px;
  width: 100%;

  background-image: url('https://media.istockphoto.com/id/1409329028/pt/vetorial/no-picture-available-placeholder-thumbnail-icon-illustration-design.jpg?s=170667a&w=0&k=20&c=w23Ra5S8QoV9jwfrJVXwMuEQq4v_AHxGoRwuUTzSzrU=');
}

.title-box-container {
  display: flex;
}

.perfil-container {
  background-color: ;
}

.foto-perfil-container {
  width: 50px;
  align-items: center;
}

.foto-perfil, .img-login {
  width: 30px;
  border-radius: 30px;
  margin: 5px 5px 0px;
  align-items: center;
}

.ad-icon {
  width: 30px;
  margin: 5px 5px 0px;
  align-items: center;
}

.patrocinio {
  font-size: 14px;
}

.nome-perfil {
  margin: 0px 0px 0px 5px ;
  font-size: 12px;
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(70, 69, 69);
}

.title-container {
  font-family: Helvetica;
  font-weight: bold;

  color: #404040;
  
}

.page-add-container {
  background-color: rgb(231, 231, 231);
  border-radius: 10px;
}



@media only screen and (min-width: 600px) {
  .header {
    background-color: hsl(197, 97%, 71%);
    position:static;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  input {
    width: 100px;
  }
  
  .ul-menu {
    display: flex;
    margin: ;
  }
  
  .ul-menu li {
    margin: 3px;
    text-decoration: none;
    list-style: none;
    font-size:20px;
  }
  
  .login {
    width: 30px;
    margin: 10px;
    font-size: 10px;
  }
  
  
  
  
  
  .main {
    background-color: rgb(255, 255, 255);
    
  }

  
  .last-news {
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    
  }
  
  .news-container {
    background-color: rgb(255, 255, 255);
    width: 400px;
    margin: 10px 10px;
  }
  
  .img-link {
    border-radius: 10px;
    width: 400px;
    height: 230px;
  
    background-image: url('https://media.istockphoto.com/id/1409329028/pt/vetorial/no-picture-available-placeholder-thumbnail-icon-illustration-design.jpg?s=170667a&w=0&k=20&c=w23Ra5S8QoV9jwfrJVXwMuEQq4v_AHxGoRwuUTzSzrU=');
  }
  
  .title-box-container {
    display: flex;
  }
  
  .perfil-container {
    background-color: ;
  }
  
  .foto-perfil-container {
    width: 50px;
    align-items: center;
  }
  
  .foto-perfil, .img-login {
    width: 30px;
    border-radius: 30px;
    margin: 5px 5px 0px;
    align-items: center;
  }
  
  .ad-icon {
    width: 30px;
    margin: 5px 5px 0px;
    align-items: center;
  }
  
  .patrocinio {
    font-size: 14px;
    margin: 0;
  }
  
  .nome-perfil {
    margin: 0px 0px 0px 5px ;
    font-size: 12px;
    text-align: center;
  }
  
  a {
    text-decoration: none;
    color: rgb(70, 69, 69);
  }
  
  .title-container {
    font-family: Helvetica;
    font-weight: bold;

    color: #404040;
    
  }
  
  .page-add-container {
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
    width: 400px;
    margin: 10px 10px;
  }

  .title-video {
    padding: 0;
  }
  
  
}
