.header {
  background-color: hsl(197, 97%, 71%);
  position:static;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

input {
  width: 30px;
}

.ul-menu {
  display: flex;
  margin: ;
}

.ul-menu li {
  margin: 5px;
  text-decoration: none;
  list-style: none;
}

.login {
  width: 30px;
  margin: 10px;
  font-size: 10px;
}





.main {
  background-color: rgb(255, 255, 255);
  
}

.video {
  width: 400px;
  border-radius: 10px;
}

.last-news {
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  
}

.news-container {
  background-color: rgb(255, 255, 255);
  width: 90%;
  height: 55%;
  margin: 10px 0px;
}

.img-link {
  border-radius: 10px;
  width: 100%;
  height: 56%;
  background-image: url('https://media.istockphoto.com/id/1409329028/pt/vetorial/no-picture-available-placeholder-thumbnail-icon-illustration-design.jpg?s=170667a&w=0&k=20&c=w23Ra5S8QoV9jwfrJVXwMuEQq4v_AHxGoRwuUTzSzrU=');
}

.title-box-container {
  display: flex;
}

.perfil-container {
  background-color: ;
}

.foto-perfil-container {
  width: 50px;
  align-items: center;
}

.foto-perfil, .img-login {
  width: 30px;
  border-radius: 30px;
  margin: 5px 5px 0px;
  align-items: center;
}

.nome-perfil {
  margin: 0px 0px 0px 5px ;
  font-size: 12px;
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(70, 69, 69);
}

.title-container {
  font-family: Helvetica;
  font-weight: bold;

  color: #404040;
  
}

.title-video {
  margin: 3px;

}
