.page-news{
  margin-top: 20px;
  padding: 5px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: rgb(59, 59, 59);
}
.page-news-img{
  width: 90%;
  align-items: center;
  margin: 10px;
}
.page-news img{
  width: 100%;
  justify-items: center;
}
.page-news p{
  margin-top: 10px;
   font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: rgb(57, 57, 57);
  line-height: 20px;
}

@media (min-width:500px) {
  .box-news{
    justify-items: center;
  }
  .page-news{

    max-width: 50%;
    align-items: center;
  }
}