@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  font-family:"Inter", serif;
}

header{
  width: 100%;
  height: 40px;
  

}

.news-container{
  padding: 5px;
}
.box-news{
  margin-top: 15px;
}
.box-img{

  
}
.ad-box{
  background-color: aliceblue;
}
.ad-img{
  width: 49%;
  aspect-ratio: 4/4.6;
}
.news-img{
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 5px;
}
.box-info{
  padding: 5px 10px 0;
}
.link-title{

}
.extra-info{
  padding: 5px;
}
.mais-vendido{
  background-color: rgb(232, 101, 0);
  color: white;
  padding: 2px 7px;
  border-radius: 2px;
}
.n1{
  color: rgb(0, 98, 255);
}

@media (min-width:500px) {
  header{
  width: 100%;
  height: 30px;
  background-color: rgb(247, 247, 247);

}
.main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.news-container{
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}
.box-news{
  margin-top: 10px;
  width: 30%;
  margin: 10px 10px;
}
.news-img{
  width: 100%;
  aspect-ratio: 16/9;
}
.box-info{
  padding: 5px 10px 0;
}
.link-title{

}


}